# Composer Related
/vendor
/auth.json

# Published Files
/public/build
/public/hot
/public/storage
/public/docs
/public/css
/public/js
/public/mix-manifest.json
/public/images/medialibrary/
/public/images/packages/

# Frontend Assets
/node_modules
/lang/frontend/*/*.json

# Logs
npm-debug.log
yarn-error.log

# Dot Files
.env
.env.backup
.env.production

# Caches
.phpunit.cache
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
/build

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editors
/.idea
/.fleet
/.vscode
/.zed

# FrankenPHP
/caddy
frankenphp
frankenphp-worker.php

# Laravel
/stubs

# Misc
/storage/*.key
/storage/media-library/*
/storage/app/packageCount.json
/storage/app/peace.json
/storage/docs
/storage/docs-temp
/storage/medialibrary/temp
/storage/media-library/temp
resources/js/types/generated.d.ts
/.vagrant
Homestead.json
Homestead.yaml
dump.rdb
auth.json
meilisearch
data.ms
.DS_Store
