/node_modules
/public/docs
/public/css
/public/js
/public/hot
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/app/packageCount.json
/storage/app/peace.json
/storage/docs
/storage/docs-temp
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/public/images/medialibrary/
/storage/medialibrary/temp
/storage/media-library/temp
.php_cs.cache
.phpunit.result.cache
/build/
