parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Laminas\\\\Feed\\\\Reader\\\\Entry\\\\AbstractEntry\\:\\:getContent\\(\\)\\.$#"
			count: 1
			path: app/Console/Commands/ImportInsightsCommand.php

		-
			message: "#^Call to an undefined method Laminas\\\\Feed\\\\Reader\\\\Entry\\\\AbstractEntry\\:\\:getLink\\(\\)\\.$#"
			count: 1
			path: app/Console/Commands/ImportInsightsCommand.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$alias\\.$#"
			count: 1
			path: app/Docs/Docs.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$repository\\.$#"
			count: 1
			path: app/Docs/Docs.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$weight\\.$#"
			count: 1
			path: app/Docs/Docs.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$alias\\.$#"
			count: 1
			path: app/Docs/DocumentationPage.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$repository\\.$#"
			count: 1
			path: app/Docs/DocumentationPage.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$section\\.$#"
			count: 1
			path: app/Docs/DocumentationPage.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$slug\\.$#"
			count: 3
			path: app/Docs/DocumentationPage.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$category\\.$#"
			count: 1
			path: app/Docs/Repository.php

		-
			message: "#^Match expression does not handle remaining values\\: int\\|string$#"
			count: 1
			path: app/Domain/Experience/Enums/ExperienceType.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Purchasable\\:\\:\\$originalPurchasable\\.$#"
			count: 2
			path: app/Domain/Shop/Actions/HandlePurchaseLicensingAction.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_expires_at\\.$#"
			count: 3
			path: app/Domain/Shop/Models/Bundle.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_name\\.$#"
			count: 1
			path: app/Domain/Shop/Models/Bundle.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_percentage\\.$#"
			count: 3
			path: app/Domain/Shop/Models/Bundle.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_starts_at\\.$#"
			count: 1
			path: app/Domain/Shop/Models/Bundle.php

		-
			message: "#^Method App\\\\Domain\\\\Shop\\\\Models\\\\ConversionRate\\:\\:getAmountForUsd\\(\\) should return int but returns float\\.$#"
			count: 1
			path: app/Domain/Shop/Models/ConversionRate.php

		-
			message: "#^Method App\\\\Domain\\\\Shop\\\\Models\\\\ConversionRate\\:\\:getPPPInUsd\\(\\) should return int but returns float\\.$#"
			count: 1
			path: app/Domain/Shop/Models/ConversionRate.php

		-
			message: "#^Property 'signed_license' does not exist in App\\\\Domain\\\\Shop\\\\Models\\\\License model\\.$#"
			count: 1
			path: app/Domain/Shop/Models/License.php

		-
			message: "#^Called 'pluck' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Domain/Shop/Models/Product.php

		-
			message: "#^Property App\\\\Domain\\\\Shop\\\\Models\\\\Product\\:\\:\\$purchasables is never written, only read\\.$#"
			count: 1
			path: app/Domain/Shop/Models/Product.php

		-
			message: "#^Variable \\$purchasables in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: app/Domain/Shop/Models/Product.php

		-
			message: "#^Constructor of class App\\\\Guidelines\\\\Guidelines has an unused parameter \\$sheets\\.$#"
			count: 1
			path: app/Guidelines/Guidelines.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_expires_at\\.$#"
			count: 1
			path: app/Http/Api/Controllers/BundlePriceController.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_name\\.$#"
			count: 1
			path: app/Http/Api/Controllers/BundlePriceController.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_percentage\\.$#"
			count: 1
			path: app/Http/Api/Controllers/BundlePriceController.php

		-
			message: "#^Called 'contains' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Http/Api/Controllers/SatisAuthenticationController.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: app/Http/Controllers/AppleSocialiteController.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$section\\.$#"
			count: 2
			path: app/Http/Controllers/DocsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/InvoicesController.php

		-
			message: "#^Method App\\\\Listeners\\\\SendCoupon\\:\\:upcastSubscriber\\(\\) should return App\\\\Models\\\\Subscriber but returns Illuminate\\\\Database\\\\Eloquent\\\\Model\\.$#"
			count: 1
			path: app/Listeners/SendCoupon.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Postcard\\:\\:\\$postcard_count\\.$#"
			count: 1
			path: app/Models/Postcard.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Series\\:\\:\\$videos\\.$#"
			count: 2
			path: app/Models/Series.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Property App\\\\Models\\\\User\\:\\:\\$uuid \\(App\\\\Support\\\\Uuid\\\\Uuid\\|null\\) does not accept string\\.$#"
			count: 2
			path: app/Models/User.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Series\\:\\:\\$videos\\.$#"
			count: 2
			path: app/Models/Video.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: app/Models/Video.php

		-
			message: "#^Property 'video_id' does not exist in App\\\\Models\\\\Video model\\. If 'video_id' exists as a column on the pivot table, consider using 'wherePivot' or prefix the column with table name instead\\.$#"
			count: 1
			path: app/Models/Video.php

		-
			message: "#^Access to an undefined property Laravel\\\\Nova\\\\Fields\\\\ActionFields\\:\\:\\$amount_in_cents\\.$#"
			count: 1
			path: app/Nova/Actions/UpdateBundlePriceForCurrencyAction.php

		-
			message: "#^Access to an undefined property Laravel\\\\Nova\\\\Fields\\\\ActionFields\\:\\:\\$currency_code\\.$#"
			count: 1
			path: app/Nova/Actions/UpdateBundlePriceForCurrencyAction.php

		-
			message: "#^Access to an undefined property Laravel\\\\Nova\\\\Fields\\\\ActionFields\\:\\:\\$amount_in_cents\\.$#"
			count: 1
			path: app/Nova/Actions/UpdatePriceForCurrencyAction.php

		-
			message: "#^Access to an undefined property Laravel\\\\Nova\\\\Fields\\\\ActionFields\\:\\:\\$currency_code\\.$#"
			count: 1
			path: app/Nova/Actions/UpdatePriceForCurrencyAction.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Purchase\\:\\:\\$count\\.$#"
			count: 1
			path: app/Nova/Metrics/PaymentMethods.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Purchase\\:\\:\\$payment_method\\.$#"
			count: 1
			path: app/Nova/Metrics/PaymentMethods.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Purchase\\:\\:\\$count\\.$#"
			count: 1
			path: app/Nova/Metrics/PaymentMethodsLastMonth.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Purchase\\:\\:\\$payment_method\\.$#"
			count: 1
			path: app/Nova/Metrics/PaymentMethodsLastMonth.php

		-
			message: "#^Access to an undefined property App\\\\Nova\\\\Product\\:\\:\\$purchasablesWithoutRenewals\\.$#"
			count: 2
			path: app/Nova/Product.php

		-
			message: "#^Access to an undefined property App\\\\Nova\\\\Product\\:\\:\\$renewals\\.$#"
			count: 2
			path: app/Nova/Product.php

		-
			message: "#^Call to an undefined method App\\\\Nova\\\\Purchasable\\:\\:getKey\\(\\)\\.$#"
			count: 2
			path: app/Nova/Product.php

		-
			message: "#^Access to an undefined property App\\\\Nova\\\\Purchasable\\:\\:\\$product\\.$#"
			count: 1
			path: app/Nova/Purchasable.php

		-
			message: "#^Access to an undefined property App\\\\Nova\\\\Purchase\\:\\:\\$assignments\\.$#"
			count: 1
			path: app/Nova/Purchase.php

		-
			message: "#^Access to an undefined property App\\\\Nova\\\\Purchase\\:\\:\\$bundle\\.$#"
			count: 1
			path: app/Nova/Purchase.php

		-
			message: "#^Access to an undefined property App\\\\Nova\\\\Purchase\\:\\:\\$purchasable\\.$#"
			count: 1
			path: app/Nova/Purchase.php

		-
			message: "#^Anonymous function has an unused use \\$request\\.$#"
			count: 1
			path: app/Nova/Purchase.php

		-
			message: "#^Call to an undefined method App\\\\Nova\\\\Bundle\\:\\:getKey\\(\\)\\.$#"
			count: 1
			path: app/Nova/Purchase.php

		-
			message: "#^Call to an undefined method App\\\\Nova\\\\Purchasable\\:\\:getKey\\(\\)\\.$#"
			count: 1
			path: app/Nova/Purchase.php

		-
			message: "#^Call to an undefined method App\\\\Nova\\\\User\\:\\:getKey\\(\\)\\.$#"
			count: 1
			path: app/Nova/Purchase.php

		-
			message: "#^Variable \\$license in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: app/Rules/MatchingLicense.php

		-
			message: "#^Call to an undefined method Github\\\\Api\\\\ApiInterface\\:\\:releases\\(\\)\\.$#"
			count: 1
			path: app/Services/GitHub/GitHubApi.php

		-
			message: "#^Class Bugsnag\\\\BugsnagLaravel\\\\Facades\\\\Bugsnag not found\\.$#"
			count: 1
			path: config/app.php

