includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - app
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    stubFiles:
        - database/stubs/_ide_helper_models.stub

    excludePaths:
        - database/stubs/_ide_helper_models.stub

    ignoreErrors:
        - '#Unsafe usage of new static#'
