parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Laminas\\\\Feed\\\\Reader\\\\Entry\\\\AbstractEntry\\:\\:getContent\\(\\)\\.$#"
			count: 1
			path: app/Console/Commands/ImportInsightsCommand.php

		-
			message: "#^Call to an undefined method Laminas\\\\Feed\\\\Reader\\\\Entry\\\\AbstractEntry\\:\\:getLink\\(\\)\\.$#"
			count: 1
			path: app/Console/Commands/ImportInsightsCommand.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$alias\\.$#"
			count: 1
			path: app/Docs/Docs.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$repository\\.$#"
			count: 1
			path: app/Docs/Docs.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$alias\\.$#"
			count: 1
			path: app/Docs/DocumentationPage.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$repository\\.$#"
			count: 1
			path: app/Docs/DocumentationPage.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$section\\.$#"
			count: 1
			path: app/Docs/DocumentationPage.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$slug\\.$#"
			count: 3
			path: app/Docs/DocumentationPage.php

		-
			message: "#^Match expression does not handle remaining values\\: int\\|string$#"
			count: 1
			path: app/Domain/Experience/Enums/ExperienceType.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Purchasable\\:\\:\\$originalPurchasable\\.$#"
			count: 2
			path: app/Domain/Shop/Actions/HandlePurchaseLicensingAction.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_name\\.$#"
			count: 1
			path: app/Domain/Shop/Models/Bundle.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_percentage\\.$#"
			count: 2
			path: app/Domain/Shop/Models/Bundle.php

		-
			message: "#^Method App\\\\Domain\\\\Shop\\\\Models\\\\ConversionRate\\:\\:getAmountForUsd\\(\\) should return int but returns float\\.$#"
			count: 1
			path: app/Domain/Shop/Models/ConversionRate.php

		-
			message: "#^Method App\\\\Domain\\\\Shop\\\\Models\\\\ConversionRate\\:\\:getPPPInUsd\\(\\) should return int but returns float\\.$#"
			count: 1
			path: app/Domain/Shop/Models/ConversionRate.php

		-
			message: "#^Property 'signed_license' does not exist in App\\\\Domain\\\\Shop\\\\Models\\\\License model\\.$#"
			count: 1
			path: app/Domain/Shop/Models/License.php

		-
			message: "#^Called 'pluck' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Domain/Shop/Models/Product.php

		-
			message: "#^Property App\\\\Domain\\\\Shop\\\\Models\\\\Product\\:\\:\\$purchasables is never written, only read\\.$#"
			count: 1
			path: app/Domain/Shop/Models/Product.php

		-
			message: "#^Variable \\$purchasables in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: app/Domain/Shop/Models/Product.php

		-
			message: "#^Call to static method make\\(\\) on an unknown class Wiebenieuwenhuis\\\\FilamentCodeEditor\\\\Components\\\\CodeEditor\\.$#"
			count: 2
			path: app/Filament/Resources/Shop/PurchasableResource.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\PurchaseAssignment\\:\\:\\$bundle\\.$#"
			count: 1
			path: app/Filament/Tables/Columns/LicensePurchasableNameColumn.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Purchase\\:\\:\\$count\\.$#"
			count: 1
			path: app/Filament/Widgets/PaymentMethodsWidget.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Purchase\\:\\:\\$payment_method\\.$#"
			count: 2
			path: app/Filament/Widgets/PaymentMethodsWidget.php

		-
			message: "#^Method Carbon\\\\Carbon\\:\\:subYear\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: app/Filament/Widgets/PaymentMethodsWidget.php

		-
			message: "#^Constructor of class App\\\\Guidelines\\\\Guidelines has an unused parameter \\$sheets\\.$#"
			count: 1
			path: app/Guidelines/Guidelines.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_expires_at\\.$#"
			count: 1
			path: app/Http/Api/Controllers/BundlePriceController.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_name\\.$#"
			count: 1
			path: app/Http/Api/Controllers/BundlePriceController.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Shop\\\\Models\\\\Bundle\\:\\:\\$discount_percentage\\.$#"
			count: 1
			path: app/Http/Api/Controllers/BundlePriceController.php

		-
			message: "#^Relation 'lessons' is not found in App\\\\Models\\\\Series model\\.$#"
			count: 1
			path: app/Http/Controllers/CoursesController.php

		-
			message: "#^Access to an undefined property App\\\\Docs\\\\DocumentationPage\\:\\:\\$section\\.$#"
			count: 2
			path: app/Http/Controllers/DocsController.php

		-
			message: "#^Call to an undefined method Laravel\\\\Socialite\\\\Contracts\\\\Provider\\:\\:stateless\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/GitHubSocialiteController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/InvoicesController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Lesson\\:\\:\\$description\\.$#"
			count: 1
			path: app/Models/Lesson.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Series\\:\\:\\$lessons\\.$#"
			count: 2
			path: app/Models/Lesson.php

		-
			message: """
				#^Call to deprecated method convertToHtml\\(\\) of class League\\\\CommonMark\\\\MarkdownConverter\\:
				since 2\\.2; use \\{@link convert\\(\\)\\} instead$#
			"""
			count: 1
			path: app/Models/Lesson.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: app/Models/Lesson.php

		-
			message: "#^Property 'lesson_id' does not exist in App\\\\Models\\\\Lesson model\\. If 'lesson_id' exists as a column on the pivot table, consider using 'wherePivot' or prefix the column with table name instead\\.$#"
			count: 1
			path: app/Models/Lesson.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Postcard\\:\\:\\$postcard_count\\.$#"
			count: 1
			path: app/Models/Postcard.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Series\\:\\:\\$lessons\\.$#"
			count: 2
			path: app/Models/Series.php

		-
			message: """
				#^Class App\\\\Rules\\\\MatchCurrentPasswordRule implements deprecated interface Illuminate\\\\Contracts\\\\Validation\\\\Rule\\:
				see ValidationRule$#
			"""
			count: 1
			path: app/Rules/MatchCurrentPasswordRule.php

		-
			message: """
				#^Class App\\\\Rules\\\\MatchingLicense implements deprecated interface Illuminate\\\\Contracts\\\\Validation\\\\Rule\\:
				see ValidationRule$#
			"""
			count: 1
			path: app/Rules/MatchingLicense.php

		-
			message: "#^Variable \\$license in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: app/Rules/MatchingLicense.php

		-
			message: "#^Call to an undefined method Github\\\\Api\\\\AbstractApi\\:\\:releases\\(\\)\\.$#"
			count: 1
			path: app/Services/GitHub/GitHubApi.php

