.avatar {
    @apply rounded-full;
    @apply w-16;
    @apply h-16;
    @apply overflow-hidden;
    @apply border-2;
    @apply border-white;
    @apply shadow-lg;
    @apply flex-shrink-0;
}

.avatar img {
    @apply absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    max-width: none;
    @apply object-cover;
    object-position: center;
    @apply rounded-full;
}

.avatar-sm {
    @apply rounded-full;
    @apply w-6;
    @apply h-6;
    @apply overflow-hidden;
    @apply border;
    @apply border-white;
    @apply shadow-lg;
    @apply flex-shrink-0;
}

.avatar-sm img {
    @apply absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    max-width: none;
    @apply object-cover;
    object-position: center;
    @apply rounded-full;
}

.avatar-square {
    @apply rounded-lg;
    @apply w-12;
    @apply h-12;
    @apply overflow-hidden;
    @apply border-2;
    @apply border-white;
    @apply shadow-lg;
    @apply flex-shrink-0;
}

.avatar-square img {
    @apply absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    max-width: none;
    @apply object-cover;
    object-position: center;
}
