:root {
    --header-height: 156px;
}

.banner-wallpaper {
    height: calc(100% + var(--header-height));
    top: calc(var(--header-height) * -1) !important;
}

@media only screen and (max-width: 720px) {
    :root {
        --header-height: 112px;
    }
}
