.bf-page {
    @apply pt-16;
    height: 100svh;
    overflow: hidden;
}

.bf-overlay {
    display: flex;
    position: absolute;
    inset: 0;
    place-items: center;
    justify-content: center;
    z-index: 10;
}

.bf-overlay::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.3);
    inset: 0;
    position: fixed;
    z-index: -1;
}

.bf-date-border:before {
    content: "";
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 148 62"><path fill="%23EAE9D8" d="M94.52 9.742c12.017-.16 23.897 2.768 35 7.206 6.977 2.966 16.357 6.161 17.912 14.618 1.258 13.436-14.351 19.155-24.843 22.32-15.412 4.384-31.433 6.108-47.377 7.023-15.968.716-32.142.48-47.797-3.089-24.82-5.452-39.057-23.189-13.146-40.674C37.603 2.093 68.493-.667 95.617 1.346c14.878 1.35 29.961 3.638 43.786 9.524l2.73 1.243-.061.138-2.746-1.182c-13.901-5.521-28.946-7.527-43.777-8.67C69.004.75 37.885 3.701 15.115 18.396-9.728 35.119 4.097 51.179 27.69 56.63c27.322 6.268 67.592 3.843 94.685-3.47 10.211-3.027 25.637-8.449 24.531-21.511-1.472-8.228-10.759-11.4-17.523-14.344a114.139 114.139 0 0 0-11.278-3.935c-7.649-2.219-15.594-3.522-23.578-3.47V9.75l-.008-.007Z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    inset: 0;
    
}

.challenge-sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper-stack .paper-stack-item {
    grid-row: 1;
    grid-column: 1;
}

.paper-stack .paper-stack-item:first-child {
    @apply order-1;
}

.paper-stack .paper-stack-item:last-child {
    @apply -order-last;
}

.textured-paper {
    background-image: url("/images/black-friday/paper-texture.png");
    background-size: contain;
    opacity: 1;
    mix-blend-mode: multiply;
    pointer-events: none;
}

.paper-markup p {
    margin-bottom: 0.75em;
}

.paper-markup em {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" fill="none" viewBox="0 0 262 12"><path fill="%23001FAF" d="M88.71 2.767c7.252-.19 15.035-.148 22.407-.949a64.241 64.241 0 0 1 7.415-.115c7.194.193 14.4.323 21.84.175 1.106-.022 2.3.036 3.305-.035 10.242-.728 20.466-.28 30.674-.544 7.2-.187 14.408-.059 21.649-.64 4-.322 8.786-.308 13.194-.351 13.29-.129 26.574-.231 39.85-.308 4.129-.025 7.707.032 8.231 1.066.3.587 3.7.962 3.874 1.717.451 1.979-5.149 3.543-15.707 3.971-4.725.192-9.558.225-14.337.348-9.137.235-18.191.834-27.439.437-3.3-.141-7.314.062-10.958.191-10.386.368-20.613.278-30.879.261-3.28-.005-6.681-.071-9.863.076-8.409.389-16.813.6-25.3.736-4.034.064-7.938.168-12.03.11-4.231-.06-8.777.223-13.189.34-11.67.31-23.317.828-35.036.762-13.606.866-27.934.415-41.537 1.528-4.71.38-9.439.492-14.162.337C-.8 11.474-2.04 11.116 2.333 8.941A28.179 28.179 0 0 1 6.3 7.429c2.187-.684 4.837-1.076 9.711-1.239 6.8-.228 13.487-.826 20.048-1.354 5.257-.423 10.274-.9 16.081-.865 2.09.013 4.37-.169 6.5-.3 9.754-.618 19.6-.958 30.065-.9"/></svg>');
    background-repeat: no-repeat;
    background-size: 100% .15em;
    background-position: bottom;
    color: #001FAF;
}

.paper-markup a {
    @apply underline hover:no-underline;
}

.paper-markup ul {
    list-style-type: disc;
    padding-inline-start: 1.5em;
}

.paper-markup p:last-child {
    margin-bottom: 0;
}

.paper-dotted-border {
    border: 2px dashed rgba(80, 80, 80, 0.2);
}

.paper-action-btn {
    @apply font-special-elite underline hover:no-underline;
    text-align: left;
}

.paper-action-btn:before {
    @apply font-sans;
    content: "›";
    margin-right: 0.3em;
}

.paper-holes:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 555'%3E%3Cpath fill='%230D0806' d='M8 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 21.55a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 39.1a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 56.649a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 74.198a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 91.748a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 109.297a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 126.847a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 144.396a4 4 0 1 1-7.999.001A4 4 0 0 1 8 144.396ZM8 161.946a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 179.495a4 4 0 1 1-7.999.001A4 4 0 0 1 8 179.495ZM8 197.045a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 214.595a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 232.144a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 249.694a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 267.243a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 284.793a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 302.342a4 4 0 1 1-7.999.001A4 4 0 0 1 8 302.342ZM8 319.892a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 337.441a4 4 0 1 1-7.999.001A4 4 0 0 1 8 337.441ZM8 354.991a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 372.541a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 390.09a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 407.64a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 425.189a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 442.739a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 460.288a4 4 0 1 1-7.999.001A4 4 0 0 1 8 460.288ZM8 477.838a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 495.388a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 512.937a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 530.487a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 548.036a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 565.586a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 583.135a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 600.685a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 618.234a4 4 0 1 1-7.999.001A4 4 0 0 1 8 618.234ZM8 635.784a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 653.334a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z'/%3E%3C/svg%3E");
    width: 8px;
    display: block;
    position: absolute;
    height: 100%;
    background-repeat: repeat-y;
    left: 8px;
    top: 8px;
    opacity: 0.4;
}

.paper-holes:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 555'%3E%3Cpath fill='%230D0806' d='M8 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 21.55a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 39.1a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 56.649a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 74.198a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 91.748a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 109.297a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 126.847a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 144.396a4 4 0 1 1-7.999.001A4 4 0 0 1 8 144.396ZM8 161.946a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 179.495a4 4 0 1 1-7.999.001A4 4 0 0 1 8 179.495ZM8 197.045a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 214.595a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 232.144a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 249.694a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 267.243a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 284.793a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 302.342a4 4 0 1 1-7.999.001A4 4 0 0 1 8 302.342ZM8 319.892a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 337.441a4 4 0 1 1-7.999.001A4 4 0 0 1 8 337.441ZM8 354.991a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 372.541a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 390.09a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 407.64a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 425.189a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 442.739a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 460.288a4 4 0 1 1-7.999.001A4 4 0 0 1 8 460.288ZM8 477.838a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 495.388a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 512.937a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 530.487a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 548.036a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 565.586a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 583.135a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 600.685a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 618.234a4 4 0 1 1-7.999.001A4 4 0 0 1 8 618.234ZM8 635.784a4 4 0 1 1-8 0 4 4 0 0 1 8 0ZM8 653.334a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z'/%3E%3C/svg%3E");
    width: 8px;
    display: block;
    position: absolute;
    height: 100%;
    background-repeat: repeat-y;
    right: 8px;
    top: 8px;
    opacity: 0.4;
}

.sheet-highlight-markup em {
    @apply text-bf-red-dark;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" fill="none" viewBox="0 0 262 12"><path fill="%23EB5757" d="M88.71 2.767c7.252-.19 15.035-.148 22.407-.949a64.241 64.241 0 0 1 7.415-.115c7.194.193 14.4.323 21.84.175 1.106-.022 2.3.036 3.305-.035 10.242-.728 20.466-.28 30.674-.544 7.2-.187 14.408-.059 21.649-.64 4-.322 8.786-.308 13.194-.351 13.29-.129 26.574-.231 39.85-.308 4.129-.025 7.707.032 8.231 1.066.3.587 3.7.962 3.874 1.717.451 1.979-5.149 3.543-15.707 3.971-4.725.192-9.558.225-14.337.348-9.137.235-18.191.834-27.439.437-3.3-.141-7.314.062-10.958.191-10.386.368-20.613.278-30.879.261-3.28-.005-6.681-.071-9.863.076-8.409.389-16.813.6-25.3.736-4.034.064-7.938.168-12.03.11-4.231-.06-8.777.223-13.189.34-11.67.31-23.317.828-35.036.762-13.606.866-27.934.415-41.537 1.528-4.71.38-9.439.492-14.162.337C-.8 11.474-2.04 11.116 2.333 8.941A28.179 28.179 0 0 1 6.3 7.429c2.187-.684 4.837-1.076 9.711-1.239 6.8-.228 13.487-.826 20.048-1.354 5.257-.423 10.274-.9 16.081-.865 2.09.013 4.37-.169 6.5-.3 9.754-.618 19.6-.958 30.065-.9"/></svg>');
}

.sheet-highlight-markup p:last-child {
    margin-bottom: 0;
}

.rewards-card {
    @apply lg:translate-x-[25%] lg:-translate-y-[25%] lg:rotate-[5deg];
    position: absolute;
    right: 0;
    bottom: 0;
}

.rewards-card-markup a {
    @apply underline hover:no-underline;
}

.raffle-token {
    @apply absolute -top-2 right-12 rotate-6 transition hover:rotate-2;
    cursor: pointer;
    z-index: 1;
}

.red-sticky {
    @apply shadow-bf-smooth;
    background: linear-gradient(135.22deg, rgba(255, 255, 255, 0) 0.31%, rgba(255, 255, 255, 0.1) 100.64%), #F37D71;
    transform: translate(-1.5em, -1.05em);
}