/* Prevent using unavailable font-weight combos, faux-bold etc. */
@font-face {
    font-family: 'PTRootUI';
    src:
        url('/fonts/PT-Root-UI_Bold.woff2') format('woff2'),
        url('/fonts/PT-Root-UI_Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'PTRootUI';
    src:
        url('/fonts/PT-Root-UI_Medium.woff2') format('woff2'),
        url('/fonts/PT-Root-UI_Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'PTRootUI';
    src:
        url('/fonts/PT-Root-UI_Regular.woff2') format('woff2'),
        url('/fonts/PT-Root-UI_Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Druk';
    src:
        url('/fonts/Druk-Bold-Web.woff2') format('woff2'),
        url('/fonts/Druk-Bold-Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.font-sans-normal {
    @apply font-sans;
    @apply font-normal;
}

.font-sans-bold {
    @apply font-sans;
    @apply font-bold;
}

.font-serif-bold {
    @apply font-serif;
    @apply font-bold;
}
