@responsive {
    .gradient {
        background-image: linear-gradient(var(--gradient-angle), var(--gradient-from), var(--gradient-to));
    }

    .gradient-none {
        background-image: none;
    }
}

.gradient-green {
    --gradient-angle: 120deg;
    --gradient-from: #242424;
    --gradient-to: #171e1a;

    @apply bg-green;
}

.gradient-pink {
    --gradient-angle: 120deg;
    --gradient-from: #242424;
    --gradient-to: #172a3d;

    @apply bg-pink;
}

.gradient-blue {
    --gradient-angle: 120deg;
    --gradient-from: #f3efea;
    --gradient-to: #e1ded9;

    @apply bg-blue-lightest;
}

.gradient-gray {
    --gradient-angle: 120deg;
    --gradient-from: #f3efea;
    --gradient-to: #e1ded9;

    @apply bg-gray-lighter;
}

.gradient-dark {
    --gradient-angle: 120deg;
    --gradient-from: #242424;
    --gradient-to: #171e1a;

    @apply bg-gray-dark;
}
