.search-modal-backdrop {
    @apply fixed;
    @apply flex;
    @apply inset-0;
    @apply h-full;
    @apply w-full;
    background-color: rgba(0, 0, 10, 0.65);
    z-index: 100;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.search-modal-wrapper {
    @apply max-h-full;
    @apply w-full;
    @apply bg-white;
}

@screen md {
    .search-modal-wrapper {
        @apply h-auto;
        @apply w-auto;
        @apply max-w-xl;
        @apply shadow-lg;
        @apply rounded-sm;
    }

    .search-modal-wrapper-md {
        @apply max-w-4xl !important;
    }

    .search-modal-wrapper-lg {
        width: calc(100vw - 4rem) !important;
        max-width: none;
        @apply rounded-none !important;
    }
}

@screen lg {
    .search-modal-wrapper-lg {
        width: calc(100vw - 8rem) !important;
        @apply max-w-6xl !important;
    }
}

.search-modal-close {
    @apply absolute;
    @apply z-40;
    top: 0.6rem;
    right: 0.5rem;
    @apply w-8;
    @apply h-8;
    @apply opacity-50;
}

.search-modal-close:hover {
    @apply opacity-75;
}

.search-modal {
    @apply flex;
    @apply flex-col;
    @apply h-full;
}

@screen md {
    .search-modal {
        max-height: calc(100vh - 2rem);
    }

    .search-modal-wrapper-lg .search-modal {
        height: calc(100vh - 4rem);
        max-height: none;
    }
}

.search-modal-header {
    @apply flex-none;
    @apply grid;
    @apply items-center;
    @apply px-6;
    @apply py-4;
}

@screen md {
    .search-modal-header {
        @apply px-12;
    }
}

.search-modal-title {
    @apply font-semibold;
}

.search-modal-content {
    @apply flex-grow;
    @apply p-6;
    @apply flex;
    @apply flex-col;
    @apply gap-y-6;
    max-width: 100vw;
}

@screen md {
    .search-modal-content {
        @apply px-12;
    }
}

.search-modal-wrapper-lg .search-modal-content {
    @apply p-0 !important;
}

/* Intersection Observer in modals doesn't work atm */
.search-modal-content .form-buttons {
    position: relative !important;
    padding-top: 0 !important;
}
