.wrap {
    @apply px-8;
    @apply mx-auto;
    @apply max-w-columns;
}

@screen lg {
    .wrap {
        @apply px-16;
    }
}

/* lazy fallback for non-grid cells */
.wrap-6 > :not(:first-child),
.wrap-8 > :not(:first-child) {
    @apply mt-8;
}

.wrap-logos > a:hover {
    opacity: 0.75;
}

.wrap-logos svg {
    @apply w-48;
}

.wrap-card > :not(:first-child) {
    /* lazy fallback for non-grid cells */
    @apply mt-8;
}

@supports (display: grid) {
    .wrap-6 > :not(:first-child),
    .wrap-8 > :not(:first-child),
    .wrap-card > :not(:first-child) {
        @apply mt-0;
    }

    .wrap-card {
        @apply gap-8;
    }

    .wrap-6 {
        @apply grid;
        @apply gap-8;
    }

    @screen sm {
        .wrap-6 {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    .wrap-8 {
        @apply grid;
        @apply gap-8;
    }

    @screen sm {
        .wrap-8 {
            grid-template-columns: minmax(0, 1fr) repeat(6, minmax(min-content, 9rem)) minmax(0, 1fr);
            @apply px-0;
            max-width: none;
        }
    }

    @screen lg {
        .wrap-8 {
            grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(min-content, 8.33rem)) minmax(2rem, 1fr);
        }
    }

    .wrap-gallery {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

        @apply grid;
        @apply gap-0;
        max-width: none;
    }

    @screen sm {
        .wrap-gallery {
            grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        }
    }

    .wrap-logos {
        grid-template-columns: repeat(auto-fit, 8rem);

        @apply grid;
        @apply gap-8;
        justify-content: center;
        justify-items: center;
    }
}
