.is-zoomable {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
    position: relative;
    z-index: 666;
    transition: all 300ms;
}

img.zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

.zoom-overlay {
    z-index: 420;
    background-color: theme('colors.white') e6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    filter: 'alpha(opacity=0)';
    opacity: 0;
    transition: opacity 0.3s;
}
.zoom-overlay-open .zoom-overlay {
    filter: 'alpha(opacity=98)';
    opacity: 0.98;
}
.zoom-overlay-transitioning .zoom-overlay {
    filter: 'alpha(opacity=0)';
    opacity: 0;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
    cursor: default;
}
