.banner {
    @apply py-12;

    @screen md {
        @apply py-16;
    }

    @screen lg {
        @apply py-24;
    }
}

.banner-menu {
    --gradient-angle: 120deg;
    --gradient-to: #dd9099;
    --gradient-from: #ddaeb4;

    @apply flex;
    @apply items-center;
    @apply p-8;
    @apply pr-16;
    @apply rounded-lg;
    @apply bg-pink;
    @apply gradient-linear;
    @apply shadow;
    @apply text-white;

    @supports (display: grid) {
        @screen sm {
            @apply spanx-4;
            @apply rounded-tl-none;
            @apply rounded-bl-none;
            @apply justify-self-start;
            @apply align-self-start;
        }

        @screen md {
            @apply spanx-3;
            @apply pl-16;
        }
    }
}

.banner-slogan {
    @apply font-serif-bold;
    @apply leading-none;
    @apply text-4xl;

    @screen sm {
        @apply text-5xl;
    }

    @screen md {
        @apply text-6xl;
    }
}

.banner-intro {
    @apply hidden;

    @screen md {
        @apply block;
        @apply text-2xl;
        @apply mt-4;
    }

    @screen print {
        @apply block;
        @apply text-xl;
        @apply mt-4;
    }
}
