.banner {
    @apply py-12;

    @screen md {
        @apply py-16;
    }

    @screen lg {
        @apply py-24;
    }
}

.banner-menu {
    @apply flex items-center;
    @apply p-8 pr-16;
    @apply rounded-lg;
    @apply bg-pink gradient-linear shadow;
    @apply text-white;

    --gradient-angle: 120deg;
    --gradient-to: #dd9099;
    --gradient-from: #ddaeb4;

    @supports(display:grid) {
        @screen sm {
            @apply spanx-4 rounded-tl-none rounded-bl-none justify-self-start align-self-start;
        }

        @screen md {
           @apply spanx-3 pl-16;
        }
    }
}

.banner-slogan {
    @apply font-serif-bold leading-none text-4xl;

    @screen sm {
        @apply text-5xl;
    }

    @screen md {
        @apply text-6xl;
    }
}

.banner-intro {
    @apply hidden;

    @screen md {
        @apply block text-2xl mt-4;
    }
}
