:root {
    --bullet-color: inherit;
}

.bullets {
    & li {
        padding-left: 1em;

        & .icon {
            @apply pr-2;
            fill: var(--bullet-color);
            left: 0;
            position: absolute;
        }

        &:not(:last-child) {
            margin-bottom: 0.35em;
        }
    }
}

.bullets-green {
    --bullet-color: config(colors.green);
}

.bullets-pink {
    --bullet-color: config(colors.pink);
}

.bullets-blue {
    --bullet-color: config(colors.blue);
}

.bullets-grey {
    --bullet-color: config(colors.grey);
}

.bullets-white {
    --bullet-color: #fff;
}

.bullets-inline {
    @apply leading-loose;

    & li {
        display: inline-block;

        &:not(:last-child) {
            &:after {
                @apply char-separator;
                margin: 0 0.5em;
                content: '•';
                color: var(--bullet-color);
            }
        }
    }
}
