.icon {
    margin: 0 0.15em;
    display: inline-block;
    vertical-align: baseline;

    & svg {
        height: 0.95em;
        width: auto;
        fill: inherit;
        display: inline-block;
    }
}
