.inset {
    @apply px-8;
    @apply py-8;
    @apply rounded-lg;

    @screen lg {
        @apply -mx-8;
    }
}

.inset-green {
    --gradient-angle: 120deg;
    --gradient-from: #21b989;
    --gradient-to: #82d8af;

    @apply inset;
    @apply bg-green;
    @apply gradient-linear;
    @apply text-white;
}

.inset-pink {
    --gradient-angle: 120deg;
    --gradient-from: #ddaeb4;
    --gradient-to: #dd9099;

    @apply inset;
    @apply bg-pink;
    @apply gradient-linear;
    @apply text-white;
}

.inset-blue {
    --gradient-angle: 120deg;
    --gradient-from: #cae1e8;
    --gradient-to: #e2f1f3;

    @apply inset;
    @apply bg-blue-lightest;
    @apply gradient-linear;
    @apply text-black;
}

.inset-grey {
    --gradient-angle: 120deg;
    --gradient-from: #f3efea;
    --gradient-to: #e1ded9;

    @apply inset;
    @apply bg-grey-lighter;
    @apply gradient-linear;
    @apply text-black;
}
