.line {
    @apply my-16;
    @apply h-2px;
    @apply opacity-25;
    @apply rounded;
    @apply bg-grey;
}

.line-l {
    @apply pl-4;

    &:after {
        @apply absolute;
        @apply pin-t;
        @apply pin-b;
        @apply pin-l;
        @apply w-2px;
        @apply opacity-25;
        @apply rounded;
        @apply bg-grey;
        content: '';
    }
}

.line-l-white {
    @apply line-l;

    &:after {
        @apply bg-white;
    }
}

.line-before {
    display: flex;
    align-items: center;

    &:before {
        @apply bg-grey;
        @apply text-grey;
        content: '';
        flex-grow: 1;
        height: 2px;
        opacity: 0.25;
        border-radius: 4px;
        margin-right: 1rem;
    }
}

.line-after {
    display: flex;
    align-items: center;

    &:after {
        @apply bg-grey;
        content: '';
        flex-grow: 1;
        height: 2px;
        opacity: 0.25;
        margin-left: 1rem;
        border-radius: 4px;
    }
}
