:root {
    --link-color: currentcolor;
    --link-color-hover: currentcolor;
    --link-border-color: currentcolor;
    --link-border-color-hover: currentcolor;
}

.link-base {
    cursor: pointer;
    transition: color 0.1s ease, text-decoration-color 0.1s ease;
    color: var(--link-color);
}

.link,
a.link,
.links a {
    @apply link-base;

    &:focus {
        outline: 0;
    }

    &:hover {
        color: var(--link-color-hover);
    }

    &:active {
        top: 1px;
    }
}

/* repetition, because we cannot @apply with pseudo classes in Tailwind for now */
.link-underline,
a.link-underline,
.links-underline a {
    @apply link-base;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: var(--link-border-color);

    &:focus {
        outline: 0;
    }

    &:hover {
        color: var(--link-color-hover);
        text-decoration-color: var(--link-border-color-hover);
    }

    &:active {
        top: 1px;
    }
}

.link-black,
a.link-black,
.links-black a {
    --link-color: config(colors.black);
    --link-color-hover: color(config(colors.black) a(0.75));
    --link-border-color: color(config(colors.black) a(0.25));
    --link-border-color-hover: color(config(colors.black) a(0.5));
}

.link-blue,
a.link-blue,
.links-blue a {
    --link-color: config(colors.blue);
    --link-color-hover: config(colors.blue-dark);
    --link-border-color: color(config(colors.blue) a(0.25));
    --link-border-color-hover: color(config(colors.blue) a(0.5));
}

.link-pink,
a.link-pink,
.links-pink a {
    --link-color: config(colors.pink);
    --link-color-hover: config(colors.pink-dark);
    --link-border-color: color(config(colors.pink) a(0.25));
    --link-border-color-hover: color(config(colors.pink) a(0.5));
}

.link-red,
a.link-red,
.links-red a {
    --link-color: config(colors.red);
    --link-color-hover: config(colors.red-dark);
    --link-border-color: color(config(colors.red) a(0.25));
    --link-border-color-hover: color(config(colors.red) a(0.5));
}

.link-green,
a.link-green,
.links-green a {
    --link-color: config(colors.green);
    --link-color-hover: config(colors.green-dark);
    --link-border-color: color(config(colors.green) a(0.25));
    --link-border-color-hover: color(config(colors.green) a(0.5));
}

.link-white,
a.link-white,
.links-white a {
    --link-color: config(colors.white);
    --link-color-hover: color(config(colors.white) a(0.8));
    --link-border-color: color(config(colors.white) a(0.5));
    --link-border-color-hover: color(config(colors.white) a(0.25));
}

.link-grey,
a.link-grey,
.links-grey a {
    --link-color: config(colors.grey);
    --link-color-hover: config(colors.grey-dark);
    --link-border-color: color(config(colors.grey) a(0.25));
    --link-border-color-hover: color(config(colors.grey) a(0.5));
}
