.markup {
    & .title {
        @apply mb-8;
    }

    & .title-sm {
        @apply mb-4;
    }

    & address,
    & p,
    & ol,
    & ul {
        &:not(:last-child) {
            margin-bottom: 1.5em;
        }
    }

    & address {
        @apply line-l;
    }

    & strong {
        @apply font-sans-bold;
    }

    & em {
        @apply font-sans-normal; /* no italics for now */
    }
}

.markup-titles {
    & h2 {
        @apply title;
        @apply mb-8;

        &:not(:first-child) {
            @apply mt-16;
        }
    }

    & h2 + h3 {
        @apply mt-8;
    }

    & h3 {
        @apply title-sm;
        @apply mb-4;
        @apply mt-16;
    }

    & h4 {
        @apply title-subtext;
        @apply mb-2;
        @apply mt-8;
    }
}

.markup-chapters {
    counter-reset: chapter;

    & h2 {
        counter-reset: subchapter;
        counter-increment: chapter;
        padding-left: 2.5rem;
    }

     & h2:before {
        @apply font-sans-normal;
        content: counter(chapter, decimal) '.';
        left: 0;
        position: absolute;
    }

    & h3 {
        counter-increment: subchapter;
        padding-left: 2.5rem;
    }

    & h3:before {
        @apply font-sans-normal;
        content: counter(chapter, decimal) '.' counter(subchapter, decimal) '.';
        left: 0;
        position: absolute;
    }
}

.markup-lists {
    & li:not(:last-child) {
        margin-bottom: 0.35em;
    }

    & ul li {
        padding-left: 1em;
    }

    & ul li:before {
        @apply text-blue;
        content: '•';
        left: 0;
        position: absolute;
        opacity:.75;
    }

    & ol {
        counter-reset: ol;
    }

    & ol > li{
        counter-increment: ol;
        padding-left: 2.5rem;
    }

    & ol > li:before {
        content: counter(ol, decimal) '.';
        left: 0;
        position: absolute;
    }

    & ol.markup-list-chapters {
        & > li {
            counter-increment: subchapter;
        }

        & > li:before {
            content: counter(chapter, decimal) '.' counter(subchapter, decimal) '.';
        }
    }
}

.markup-lists-upper-alpha ol > li:before,
ol.markup-list-upper-alpha > li:before {
    content: '(' counter(ol, upper-alpha) ')';
}

.markup-lists-lower-roman ol > li:before,
ol.markup-list-lower-roman > li:before {
    content: '(' counter(ol, lower-roman) ')';
}

