.wrap {
    @apply px-8;
    @apply mx-auto;
    @apply max-w-columns;

    @screen sm {
        @apply px-16;
    }
}

.wrap-6,
.wrap-8 {
    @apply wrap;

    /* lazy fallback for non-grid cells */
    & > :not(:first-child) {
        @apply mt-8;
    }
}

.wrap-gallery {
    @apply wrap;
}

.wrap-logos {
    @apply wrap;

    & > a:hover {
        opacity: 0.75;
    }

    & img {
        @apply w-48;
    }
}

.wrap-inset {
    /* lazy fallback for non-grid cells */
    & > :not(:first-child) {
        @apply mt-8;
    }
}

@supports (display: grid) {
    .wrap-6,
    .wrap-8,
    .wrap-inset {
        & > :not(:first-child) {
            @apply mt-0;
        }
    }

    .wrap-inset {
        @apply grid-rows;
        @apply gap-8;

        @screen md {
            @apply grid-cols;
        }
    }

    .wrap-6 {
        --cols: 1fr;

        @apply grid;
        @apply grid-template;
        @apply gap-8;

        @screen sm {
            --cols: repeat(6, minmax(min-content, 7rem));

            @apply grid;
            @apply grid-template;
            @apply gap-8;
        }
    }

    .wrap-8 {
        --cols: 1fr;

        @apply grid;
        @apply grid-template;
        @apply gap-8;

        @screen sm {
            --cols: minmax(config(padding.8), 1fr) repeat(6, minmax(min-content, 7rem)) minmax(config(padding.8), 1fr);

            @apply px-0;
            max-width: none;
        }
    }

    .wrap-gallery {
        --cols: repeat(auto-fill, minmax(10rem, 1fr));

        @apply grid;
        @apply grid-template;
        @apply gap-0;
        max-width: none;

        @screen sm {
            --cols: repeat(auto-fill, minmax(16rem, 1fr));
        }
    }

    .wrap-logos {
        --cols: repeat(auto-fit, 8rem);

        @apply grid;
        @apply grid-template;
        @apply gapx-16;
        @apply gapy-8;
        justify-content: center;
    }
}
