@charset "UTF-8";

@import './bootstrap.css';

@import './utilities/animation.css';
@import './utilities/algolia.css';
@import './utilities/avatar.css';
@import './utilities/banner.css';
@import './utilities/black-friday.css';
@import './utilities/bullets.css';
@import './utilities/card.css';
@import './utilities/cell.css';
@import './utilities/char.css';
@import './utilities/counter.css';
@import './utilities/filter.css';
@import './utilities/flash.css';
@import './utilities/font.css';
@import './utilities/forms.css';
@import './utilities/gradient.css';
@import './utilities/highlighthing.css';
@import './utilities/icon.css';
@import './utilities/illustration.css';
@import './utilities/justify-items.css';
@import './utilities/line.css';
@import './utilities/links.css';
@import './utilities/markup.css';
@import './utilities/modal.css';
@import './utilities/search-modal.css';
@import './utilities/section.css';
@import './utilities/select.css';
@import './utilities/submenu.css';
@import './utilities/tag.css';
@import './utilities/title.css';
@import './utilities/wallpaper.css';
@import './utilities/wrap.css';
@import './utilities/wrapper.css';
@import './utilities/zoom.css';

/* scrap */

.bg-multiply {
    background-blend-mode: multiply;
}

a:active,
button:active {
    transform: translateY(1px);
}

/* Permalinks in front of markdown title */
a.anchor-link {
    @apply border-0 opacity-0 no-underline pr-2 absolute text-right text-oss-royal-blue transition-all;
    right: 100%;
    height: 1em;
    width: 1em;
}

h2:has(.anchor-link):hover .anchor-link,
h3:has(.anchor-link):hover .anchor-link,
h4:has(.anchor-link):hover .anchor-link,
h5:has(.anchor-link):hover .anchor-link {
    @apply opacity-20;
}

h2:has(.anchor-link):hover .anchor-link:hover,
h3:has(.anchor-link):hover .anchor-link:hover,
h4:has(.anchor-link):hover .anchor-link:hover,
h5:has(.anchor-link):hover .anchor-link:hover {
    @apply opacity-50;
}

/* demo titles that doesn't need anchors */
.anchor-link[id*="beatles"] {
    display: none !important;
}

.docs-submenu-item.is-active {
    @apply text-blue;
}

.show-input-number-buttons::-webkit-inner-spin-button,
.show-input-number-buttons::-webkit-outer-spin-button {
    opacity: 1;
}

.link-card:before {
    @apply absolute;
    @apply inset-0;
    @apply pointer-events-none;
    @apply select-none;
    @apply transition-all;
    content: "";
    mask-image: linear-gradient(black, black), linear-gradient(black, black);
    mask-position: 0, 0;
    -webkit-mask-position-x: 0;
    -webkit-mask-position-y: 0;
    mask-size: auto, auto;
    mask-repeat: repeat, repeat;
    mask-origin: content-box, border-box;
    mask-clip: content-box, border-box;
    mask-mode: match-source, match-source;
    mask-composite: exclude;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(180deg, rgba(141, 161, 166, 0.5) 0%, rgba(255, 255, 255, 0.15) 100%);
}

.link-card:hover:before {
    @apply opacity-0;
}

.link-card:after {
    @apply absolute;
    @apply inset-0;
    @apply pointer-events-none;
    @apply select-none;
    @apply transition-all;
    @apply opacity-0;
    content: "";
    mask-image: linear-gradient(black, black), linear-gradient(black, black);
    mask-position: 0, 0;
    -webkit-mask-position-x: 0;
    -webkit-mask-position-y: 0;
    mask-size: auto, auto;
    mask-repeat: repeat, repeat;
    mask-origin: content-box, border-box;
    mask-clip: content-box, border-box;
    mask-mode: match-source, match-source;
    mask-composite: exclude;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(180deg, #8DA1A6 0%, rgba(255, 255, 255, 0.5) 100%);
}

.link-card:hover:after {
    @apply opacity-100;
}


[x-cloak] {
    display: none !important;
}
