.avatar {
    @apply rounded-full;
    @apply w-16;
    @apply h-16;
    @apply overflow-hidden;
    @apply border-2;
    @apply border-white;
    @apply shadow-lg;
    @apply flex-shrink-0;

    & img {
        @apply absolute;
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
        max-width: none;
        @apply object-fit-cover;
        object-position: center;
        @apply rounded-full;
    }
}
