/* Hide illustrations for older browsers without grid */

.illustration {
    @apply hidden;
    @apply bg-white;
    @apply border-white;
    @apply border-solid;
    @apply shadow-lg;
    @apply max-w-1/2;
    @apply mx-auto;

    & img {
        page-break-inside: avoid;
    }

    &.is-postcard-without-caption {
        border-width: 1em 1em 3em;
    }

    &.is-postcard {
        @apply block; /* Show postcards for older browsers */
        border-width: 1em;
    }

    &.h-full {
        & img {
            @screen sm {
                @apply absolute;
                @apply w-full;
                @apply h-full;
                @apply pin;
                @apply object-fit-cover;
                max-height: none;
            }
        }
    }

    @screen print {
        @apply shadow; /* Large shadow doesn't print so well */
        max-height: 7cm !important;
    }
}

.illustration-svg {
    @apply hidden;
}

@supports (display: grid) {
    .illustration {
        @apply block;

        @screen sm {
            @apply max-w-none;

            &.is-left {
                border-left-width: 0 !important;
            }

            &.is-right {
                border-right-width: 0 !important;
            }
        }

        &.is-rotated {
            @apply mt-16;
            transform: rotate(-2deg) translateY(-2rem);

            &.is-left {
                transform-origin: 0 100%;
            }

            &.is-right {
                transform-origin: 100% 0;
            }

            @screen sm {
                @apply mt-8;
            }
        }
    }

    .illustration-svg {
        @apply block;
    }
}
