.modal {
    @apply hidden;

    z-index: 1000;

    &:target {
        @apply fixed;
        @apply pin-t;
        @apply pin-l;
        @apply flex;
        @apply items-center;
        @apply justify-center;
        @apply w-screen;
        @apply min-h-screen;
        @apply cursor-pointer;
        background-color: color(config(colors.black) a(0.9));
        backdrop-filter: grayscale(1);
    }

    &:after {
        @apply absolute;
        @apply flex;
        @apply items-start;
        @apply justify-end;
        @apply text-white;
        top: 0.5em;
        right: 0.5em;
        content: '×';
        font-size: 2rem;
        line-height: 1;
    }
}
