.section {
    @apply py-16;
    overflow-x: hidden; /* prevent eg. rotated postcards to widen the layout */

    @screen sm {
        @apply py-24;
    }

    @screen xl {
        @apply py-32;
    }
}

.section-group {
    @apply .section;

    & .section:first-child {
        @apply mt-0;
    }

    @nest .banner + & {
        @apply pt-0;
    }

    & .section {
        @apply py-0;
        @apply mt-16;

        overflow: visible;

        @screen sm {
            @apply mt-24;
        }

        @screen xl {
            @apply mt-32;
        }
    }
}

.section-fade {
    &:before {
        @apply z-back;
        @apply absolute;
        @apply w-full;
        @apply pin-l;
        @apply pin-b;
        content: '';
        height: 24rem;
        background: linear-gradient(
            to bottom,
            color(config(colors.white) a(0) 30%),
            color(config(colors.grey-lightest) a(0.85))
        );
    }

    /* fake inset shadow at the bottom */
    &:after {
        @apply z-back;
        @apply absolute;
        @apply w-full;
        @apply pin-l;
        @apply pin-b;
        content: '';
        height: 4px;
        background: linear-gradient(to bottom, rgba(76, 55, 55, 0), rgba(76, 55, 55, 0.05));
    }
}
