name: 'Code formatting'

on:
    push:
        branches:
            - master

jobs:
    code-formatting:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Cache yarn dependencies
              uses: actions/cache@v2
              with:
                  path: node_modules
                  key: yarn-${{ hashFiles('yarn.lock') }}

            - name: Yarn format
              run: yarn && yarn format

            - name: Run php-cs-fixer
              uses: docker://oskarstark/php-cs-fixer-ga
              with:
                  args: --config=.php-cs-fixer.php --allow-risky=yes

            - name: Extract branch name
              shell: bash
              run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
              id: extract_branch

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v2.3.0
              with:
                  commit_message: PHP CS changes
                  branch: ${{ steps.extract_branch.outputs.branch }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
