name: Jest

on:
    push:
        paths:
            - '**.ts'
            - '**.tsx'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - run: yarn
            - run: yarn test
