name: PHPUnit

on: [push]

jobs:
    phpunit:
        name: PHPUnit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.0'
                  extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                  coverage: none

            - name: Create database
              run: |
                  sudo /etc/init.d/mysql start
                  mysql  -u root -proot -e 'CREATE DATABASE IF NOT EXISTS spatie_tests;'

            - name: Run composer install
              run: composer update -n --prefer-dist
              env:
                COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}

            - name: Prepare Laravel Application
              run: |
                  cp .env.ci .env
                  php artisan key:generate

            - name: Run PHPUnit
              run: ./vendor/bin/phpunit
              env:
                  DB_PASSWORD: root
