name: Run tests

on: [push]

jobs:
    phpunit:
        name: Run tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.2'
                  extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                  coverage: none

            - name: Create database
              run: |
                  sudo systemctl start mysql
                  mysql  -u root -proot -e 'CREATE DATABASE IF NOT EXISTS spatie_tests;'

            - name: Run composer install
              run: composer install -n --prefer-dist
              env:
                COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}

            - name: Prepare Laravel Application
              run: |
                  cp .env.ci .env
                  php artisan key:generate

            - uses: actions/setup-node@v3

            - name: Setup Vite Manifest
              run: |
                yarn install
                yarn build

            - name: Run tests
              run: ./vendor/bin/pest
              env:
                  DB_PASSWORD: root
